*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    font-size: x-large;
    text-align: center;
}

.P404,p {
    font-size: 8rem;
    text-align: center;
   
}